<!DOCTYPE html>
<html lang="sl">

<head>
    {{- partial "head.html" . -}}
    {{- partial "meta.html" . -}}
</head>
<body>rtrt
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    <div class="mx-auto my-10 max-w-6xl">
        <h2 class="fc2 text-4xl ml-2">Novice</h2>
        {{- partial "recent.html" . -}}
    </div>
    {{- partial "footer.html" . -}}
    <script src="{{ "/js/swiper-bundle.min.js" | relURL }}"></script>
    <script>
        var mySwiper = new Swiper(".swiper-container", {
            direction: "horizontal",
            loop: true,
            speed: 550,
            autoplay: {
                delay: 6000,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
</body>

</html>